-# %h1= @channel.name
- content_for :head do
  %title= "#{@channel.name} - rtf"
  
.message-content
  #message-nav
    = will_paginate @messages
  #messages
    %table
      = render :partial => "message", :collection => @messages.reverse
    #userlist
      %h3 Users
      %ul
        = render :partial => "userlist", :collection => @users
  #message-form
    - form_for Message.new do |f|
      = f.text_field :message, :autocomplete => "off"
      = f.hidden_field :name, :value => current_user.login
      = f.hidden_field :channel_id, :value => @channel.id
      -#= submit_tag "Send"
#footer
  -#%input#test-button{:value => 'Test', :type => 'button'}
  :javascript
    $(document).ready(function(){
      RTF.initialize();
      // Hook the Message form for ajax
      $("#new_message").ajaxForm({
        //success: function(){ 
        //  $("#message_message").val("").focus();
        //},
        dataType: 'json',
        clearForm: true,
        //resetForm: true
      });
    });
  
