#message-form
  - form_for Message.new do |f|
    = f.text_field :message, :autocomplete => "off", :id => "input-box", :class => "input input-box"
    = f.hidden_field :name, :value => current_user ? current_user.login : ""
    = f.hidden_field :channel_id, :value => 1
