!!!
%html
  %head
    %title rtf - Login
    %link{:rel => 'StyleSheet', :type => 'text/css', :href => 'stylesheets/reset.css'}
    %link{:rel => 'StyleSheet', :type => 'text/css', :href => 'stylesheets/chromatron/style.css'}
    %link{:rel => 'StyleSheet', :type => 'text/css', :href => 'stylesheets/chromatron/colors.css'}
    %link{:rel => 'StyleSheet', :type => 'text/css', :href => 'stylesheets/app.css'}
  %body.login
    %section{:role => 'main'}
      %article#login-box
        .article-container
          -#.notification
          = form_tag session_path, :id => "login_form" do
            %fieldset
              %dl
                %dt
                  %label{:for => 'login'} Login
                %dd
                  =text_field_tag 'login', @login, {:class => "large"}
                %dt
                  %label{:for => 'password'} Password
                %dd
                  =password_field_tag 'password', nil, {:class => "large"}
                -#%dt.checkbox
                  %label{:for => 'remember_me'} Remember me
                -#%dd
                  %input{:type => 'checkbox', :name => 'remember_me'}
            %button.right{:type => 'submit'} Log in
