@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }

nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height:0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }

.ie7 img { -ms-interpolation-mode: bicubic; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
body, select, input, textarea { color:#666; }

/*  General Settings  */
body {
	background:url('/assets/images/bg_aside_main.png') repeat-y 263px 0;
	font-family:'PT Sans', Arial, sans-serif;
	font-size:13px;
	*font-size:small;
	zoom:1;
}
body section[role=navigation] {
	width:271px;
	height:auto;
	padding:25px 0;
	position:absolute;
	top:0;
	left:0;
}
body section[role=main] {
	background-color:#fff;
	min-width:669px;
	height:100%;
	margin-left:271px;
	padding:25px;
}
select, input, textarea, button { font:99% sans-serif; }
h1, h2, h3, h4, h5, h6, strong, b, th { font-weight:bold; }
em, i { font-style:italic; }
ul, ol { margin:0 0 1em 1em; }
ol { margin-left:2em; }
ol { list-style-type:decimal; }
a { outline:none; }
a:hover {}
a:hover, a:active { outline:none; }
a.outside {
	padding-right:10px;
	background-position:top right;
	background-repeat:no-repeat;
}

/*  Fixed Layout  */
body.fixed {
	background-color:#e6e6e6;
	background-image:none;
}
.fixed .fixed-wraper {
	width:990px;
	margin:0 auto;
	position:relative;
	background:url('../img/bgs/bg_aside_main.png') repeat-y 263px 0;
}
.fixed .fixed-wraper section[role=main] {
	min-width:0;
	background-image:url('../img/bgs/bg_fixed.png');
	background-repeat:repeat-y;
	background-position:right;
	padding-right:32px;
}


/*  General Classes  */
.small { width:33%; }
.medium { width:66%; }
.large { width:99%; }
.left { float:left; }
.right { float:right; }

/*  Navigation Layout :: Header  */
section[role=navigation] header {
	margin:0 2px 25px 0;
	padding-left:25px;
}
section[role=navigation] header a {
	background:url('../img/sample_logo.png') no-repeat;
	width:148px;
	height:31px;
	text-indent:-9999em;
	display:block;
}
section[role=navigation] header h1 {
	margin-top:3px;
	font-weight:normal;
	font-style:italic;
	text-shadow:none;
}

/*  Navigation Layout :: User Info  */
#user-info {
	height:55px;
	background:url('/assets/images/bg_aside_userinfo.png') no-repeat;
	border-top:1px solid;
	margin:0 2px 25px 0;
	padding:18px 25px;
}
#user-info img {
	width:48px;
	height:48px;
	padding:3px;
	background-color:#fff;
	border:1px solid;
	float:left;
}
#user-info div {
	float:left;
	margin-left:15px;
}
#user-info div > a {
	display:block;
	font-size:108%;
	text-decoration:none;
	line-height:100%;
}
#user-info em { font-size:93%; }
#user-info ul {
	margin:5px 0 0;
	list-style:none;
}
#user-info ul li {
	float:left;
	margin-right:5px;
}
#user-info ul li:last-child { margin-right:0; }
#user-info .button-link { font-size:80%; }

/*  Navigation Layout :: Nav  */
.main-nav {
	margin-bottom:25px;
	font-size:116%;
}
.main-nav ul li.current a, .main-nav ul li.current a:hover, .main-nav ul li a:hover,
.main-nav ul li li a:hover, .main-nav ul li.current li a:hover {}
.main-nav > ul, .main-nav > ul li, .main-nav > ul li.current, .main-nav ul li li { background-repeat:no-repeat; }
.main-nav > ul { background-position:bottom; }
.main-nav > ul li, .main-nav > ul li.current { background-position:0 0; }
.main-nav > ul li:last-child { padding-bottom:2px; } /* Proper background rendering */
.main-nav ul li a {
	display:block;
	font-weight:bold;
	padding:7px 0 7px 50px;
	text-decoration:none;
	-webkit-transition:color 400ms ease;
	-moz-transition:color 400ms ease;
	transition:color 400ms ease;
	background-position:25px 8px;
	background-repeat:no-repeat;
	height:21px;
}
.main-nav ul ul {
	margin-left:50px;
	padding-bottom:10px;
}
.main-nav ul li li, .main-nav ul li li.current {
	padding:2px 0 2px 10px;
	background-position:0 9px;
}
.main-nav ul li li a, .main-nav ul li.current li a {
	font-weight:normal;
	padding:0;
	font-size:85%;
	text-shadow:none;
	height:auto;
}
.main-nav ul li span {
	float:right;
	display:block;
	position:relative;
	top:-28px;
	padding:2px 5px;
	border:1px solid;
	margin-right:20px;
	font-size:77%;
	-moz-border-radius:3px;
	border-radius:3px;
	cursor:pointer;
}
.ie7 .main-nav ul li span, .ie8 .main-nav ul li span { top:-28px; }

/*  Sample Icons  */
.main-nav ul li a.dashboard { background-image:url('../img/icons/icon_nav_dashboard.png'); }
.main-nav ul li a.projects { background-image:url('../img/icons/icon_nav_projects.png'); }
.main-nav ul li a.products { background-image:url('../img/icons/icon_nav_products.png'); }
.main-nav ul li a.events { background-image:url('../img/icons/icon_nav_events.png'); }
.main-nav ul li a.articles { background-image:url('../img/icons/icon_nav_articles.png'); }
.main-nav ul li a.gallery { background-image:url('../img/icons/icon_nav_gallery.png'); }
.main-nav ul li a.settings { background-image:url('../img/icons/icon_nav_settings.png'); }

/*  Navigation Layout :: Sidebars  */
.sidebar {
	margin:0 27px 25px 25px;
	display:block;
	font-size:93%;
	overflow:hidden;
	clear:both;
}
.sidebar p {
	margin:8px 0;
	line-height:140%;
}
.sidebar p:last-child { margin-bottom:0; }
.sidebar ul { margin:0 0 15px 15px; }
.sidebar h2 {
	font-size:116%;
	margin-bottom:12px;
}
.sidebar img {
	padding:3px;
	margin:0 auto 25px auto;
	border:1px solid;
}

.sidebar.separator, .sidebar .separator {
	border-top:3px solid;
	padding-top:8px;
}
.sidebar.separator { padding-top:25px; }
.sidebar .button-link { float:right; }

/*  Content Layout :: Widgets  */
#widgets-container { display:block; }
.widget {
	border:1px solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	display:block;
	height:35px;
	width:160px;
	float:left;
	margin:0 15px 15px 0;
	padding:5px;
	font-size:93%;
}
.ie7 .widget { margin-bottom:0; }
.widget a {
	text-decoration:none;
	display:block;
}
.widget:last-child { margin-right:0; }
.widget span {
	display:block;
	height:35px;
	width:36px;
	float:left;
	margin-right:10px;
	font-size:350%;
	text-align:center;
	line-height:80%;
}
.widget p {
	float:left;
	position:relative;
	top:-4px;
}
.widget strong {
	font-size:153.9%;
	display:block;
}
.widget strong sup { top:-0.3em }
.widget.text-only p { padding-left:5px; }
.widget.add-new-widget { border-style:dashed; }
.widget.add-new-widget span {
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999em;
	margin-right:2px;
}
.widget.add-new-widget strong { padding-top:5px; }
.widget .close-widget {
	position:relative;
	text-decoration:none;
	float:right;
	top:-8px;
}

/*  Sample Widgets  */
#new-visitors span, #new-orders span {
	text-indent:-9999em;
	background-position:0 0;
	background-repeat:no-repeat;
}
#new-visitors span { background-image:url('../img/widgets/widget_increase.png'); }
#new-orders span { background-image:url('../img/widgets/widget_decrease.png'); }

/*  Content Layout :: Nested Box  */
.nested {
	border:1px solid inset;
	padding:15px;
	overflow:hidden;
	-moz-border-radius:3px;
	border-radius:3px;
}
.ie7 article.nested, .ie8 article.nested { border:none; }
.ie7 section.nested, .ie8 section.nested, .ie7 article.nested .article-container, .ie8 article.nested .article-container { border:1px solid; }

/*  Content Layout :: Nested Box :: Article  */
article.nested { padding:0; }
article.nested header { margin:10px 20px 20px; }
article.nested section { margin:0 20px 20px; }
article.nested footer { margin:20px; }

/*  Content Layout :: Main Content  */
article { margin-bottom:2%; }
article .article-container {
	display:block;
	overflow:hidden;
}
article header {
	height:27px;
	border-bottom:3px solid;
	padding-bottom:8px;
	margin-bottom:20px;
}
article header h2 {
	font-size:167%;
	float:left;
}
article header nav { float:right; }
article section { overflow:hidden; }
article section h3, article section h4, article section h5 { margin-bottom:.8em; }
article section h3 { font-size:153.9%; }
article section h4 { font-size:131%; }
article section h5 {
	font-size:108%;
	text-transform:uppercase;
}
article section p {
	font-size:100%;
	line-height:160%;
	margin-bottom:0.67em;
}
article section p:last-child { margin-bottom:0; }
article section ul li {
	list-style:none;
	padding-left:10px;
	background-position:0 center;
	background-repeat:no-repeat;
}
article section ul.list-style-checkmark li, article section ul.list-style-cross li, article section ul.list-style-arrow li { padding-left:25px; }
article section ul.list-style-checkmark li { background:url('../img/icons/list-style/icon_list_style_checkmark.png') no-repeat 0 1px; }
article section ul.list-style-cross li { background:url('../img/icons/list-style/icon_list_style_cross.png') no-repeat 0 1px; }
article section ul.list-style-arrow li { background:url('../img/icons/list-style/icon_list_style_arrow.png') no-repeat 0 1px; }
article section ul li, article section ol li { line-height:150%; }
article footer {
	clear:both;
	padding-top:10px;
	margin-top:20px;
	border-top:1px solid;
	font-size:85%;
}

/*  Content Layout :: Main Content :: Block Layout */
.half-block { 
	width:49%;
	margin-right:2%;
	float:left;
}
.third-block {
	width:32%;
	margin-right:2%;
	float:left;
}
.quarter-block {
	width:23.5%;
	margin-right:2%;
	float:left;
}
.clearrm { margin-right:0; }
.clearfix {
	zoom:1;
	clear:both;
}

/*  Content Layout :: Main Content :: Tabs */
.tab-switch {
	display:block;
	position:relative;
	top:7px;
}
.tab-switch li {
	float:left;
	list-style:none;
	margin-right:15px;
}
.tab-switch li:last-child { margin-right:0; }
.tab-switch li:last-child a { padding-right:0; }
.tab-switch li a {
	display:block;
	padding:0 3px 12px;
	text-decoration:none;
	height:16px;
}
.tab-switch li a.current {
	background-position:bottom center;
	background-repeat:no-repeat;
}
.tab {
	clear:both;
	display:block;
	overflow:hidden;
}

/*  Content Layout :: Main Content :: Sidetabs */
.sidetabs {
	background-repeat:repeat-y;
	overflow:hidden;
}
.sidetab-switch {
	float:left;
	width:181px;
}
.sidetab-switch a {
	display:block;
	padding:10px 0;
	text-decoration:none;
}
section .sidetab-switch li {
	background:none;
	padding-left:0;
	border-bottom:1px solid;
}
.sidetab-switch li a.current { border-right:1px solid; }
.sidetab-switch p {
	margin:20px 20px 0 0;
	font-size:85%;
}
.sidetab {
	display:block;
	overflow:hidden;
	padding-left:20px;
}

/*  Content Layout :: Main Content :: Buttons */
.button-switch {
	display:block;
}
.button-switch li {
	float:left;
	list-style:none;
	margin-right:7px;
}
.button-switch li:last-child { margin-right:2px; }
.button-switch li a.button {
	height:18px;
	padding:4px 15px;
}

/*  Content Layout :: Main Content :: Accordion */
.accordion {
	margin:0;
	border-top:1px solid;
}
.accordion li {
	background:none;
	list-style:none;
	padding:10px 0;
	border-bottom:1px solid;
}
.accordion div { margin-top:15px; }
.accordion .accordion-switch {
	cursor:pointer;
	display:block;
	text-decoration:none;
	margin-right:15px;
}
.accordion .accordion-switch, .accordion .accordion-switch:hover {
	background-position:center right;
	background-repeat:no-repeat;
}
.accordion .accordion-switch h3 {
	margin:0;
	text-shadow:none;
	font-size:116%;
	font-weight:normal;
}

/*  Buttons  */
.button-link, .button, button {
	display:inline-block;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	text-decoration:none;
	text-shadow:0 1px 2px #666;
	white-space:nowrap;
	cursor:pointer;
	vertical-align:baseline;
	-webkit-transition:all 400ms ease;
	-moz-transition:all 400ms ease;
	-o-transition:all 400ms ease;
	transition:all 400ms ease;
	overflow:visible;
	width:auto;
}
article section p .button-link { padding:0 6px; }

/*  Buttons :: Button Like Link  */
.button-link {
	background-color:#ae432e;
	padding:2px 6px;
	border:none;
	color:#fff;
}
.button-link.blue { background-color:#066d99; }
.button-link.green { background-color:#6a9912; }
.button-link.gray { background-color:#929494; }
.button-link:hover {
	background-color:#4c4c4c;
	color:#fff;
}

/*  Buttons :: Button  */
.button, button {
	border:1px solid;
	padding:4px 15px;
	margin-bottom:2px;
	font-weight:bold;
	height:28px;
}
a.button, span.button {
	height:18px;
	font-weight:normal;
}
article section p a.button {
	height:16px;
	line-height:100%;
	padding:5px 15px;
}

/*  Buttons :: Button :: Disable  */
.button.disabled, button:disabled {
	text-shadow:none;
	box-shadow:none;
	cursor:not-allowed;
	font-weight:normal;
}

/*  Notifications  */
.notification {
	display:block;
	clear:both;
	padding:10px 10px 10px 36px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid;
	color:#646464;
	background-position:10px 12px;
	background-repeat:no-repeat;
	margin:10px 0;
}
.close-notification {
	float:right;
	text-decoration:none;
	color:#737373;
	position:relative;
	top:-10px;
	right:-2px;
}
.close-notification:hover { color:#333; }
.notification.error {
	background-color:#f2d4ce;
	background-image:url('../img/icons/icon_notification_error.png');
	border-color:#ae432e;
}
.notification.error strong { color:#ae432e; }
.notification.success {
	background-color:#d9e6c3;
	background-image:url('../img/icons/icon_notification_success.png');
	border-color:#77ab13;
}
.notification.success strong { color:#69990f; }
.notification.attention {
	background-color:#faf6d4;
	background-image:url('../img/icons/icon_notification_attention.png');
	border-color:#e6c26e;
}
.notification.attention strong { color:#be8007; }
.notification.information {
	background-color:#cee6f2;
	background-image:url('../img/icons/icon_notification_information.png');
	border-color:#058dc7;
}
.notification.information strong { color:#0576a6; }
.notification.note {
	background-color:#f2f2f2;
	background-image:url('../img/icons/icon_notification_note.png');
	border-color:#d1d1d1;
}
.notification.note strong { color:#737373; }

/*  Breadcrumbs  */
#breadcrumbs {
	display:block;
	clear:both;
	overflow:hidden;
	margin:0 0 25px 0;
}
#breadcrumbs li {
	float:left;
	list-style:none;
	margin:0 5px 0 0;
	padding-left:10px;
	background:url('../img/icons/icon_breadcrumbs.png') no-repeat center left;
}
#breadcrumbs li:first-child {
	background:none;
	padding-left:0;
	margin-top:0;
}
#breadcrumbs li:last-child { margin-right:0; }
#breadcrumbs li a { display:block; }
#breadcrumbs li:first-child a {
	height:16px;
	width:16px;
	text-indent:-9999em;
	background-position:0 0;
	background-repeat:no-repeat;
}
#breadcrumbs li:first-child a:hover { background-position:0 -16px; }

/*  Prgoress Bars  */
.progress-bar {
	border:1px solid;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:block;
	height:25px;
	margin:0.67em 0;
}
.progress-bar div {
	border-radius:5px;
	display:block;
	height:27px;
	text-align:center;
	position:relative;
	top:-1px;
}
.progress-bar div span {
	color:#fff;
	font-weight:bold;
	text-align:center;
	position:relative;
	top:4px;
}
.progress-bar div span sup { top:-0.2em; }
.progress-bar.red div { background-color:#ae432e; }
.progress-bar.blue div { background-color:#058dc7; }
.progress-bar.green div { background-color:#77ab13; }

/*  Content Images  */
article img {
	padding:4px;
	background-color:#fff;
	border:1px solid;
}
div.tab > img, div.tab > .image-frame img { margin-top:0; }

/*  Content Image Mini Menu  */
.image-frame { position:relative; }
.image-frame.left { margin-right:15px; }
.image-frame.right { margin-left:15px; }
.image-actions {
	background:#000;
	display:none;
	position:absolute;
	right:12px;
	bottom:16px;
	z-index:10;
	list-style:none;
	margin:0;
	padding:6px 10px;
	opacity:.85;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.image-gallery .image-actions { bottom:20px; }
.image-actions li {
	background:none;
	float:left;
	font-size:85%;
	margin:0 10px 0 0;
	padding:0 10px 0 0;
	border-right:1px solid #333;
}
.image-actions li:last-child {
	margin-right:0;
	padding-right:0;
	border-right:none;
}
.image-actions li a {
	color:#fff;
	text-decoration:none;
}
.image-actions li a:hover { text-decoration:underline; }

/*  Content Image Gallery  */
.image-gallery {
	margin:0 0 0 10px;
	overflow:hidden;
}
.image-gallery > li {
	float:left;
	list-style:none;
	background:none;
	padding:0;
	margin-right:10px;
	line-height:220%;
}
.image-gallery > li:last-child { margin-right:0; }

/*  Tags  */
.tag {
	display:block;
	color:#fff;
	font-size:93%;
	padding:2px 0;
	margin:0 auto;
	text-align:center;
	width:60px;
	height:15px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 0 2px #b3b3b3;
	-moz-box-shadow:0 0 2px #b3b3b3;
	box-shadow:0 0 2px #b3b3b3;
}
.tag.red { background-color:#ae432e; }
.tag.blue { background-color:#058dc7; }
.tag.green { background-color:#77ab13; }
.tag.orange { background-color:#ef561a; }
.tag.gray { background-color:#b3b3b3; }

/*  Ajax Loading Gif  */
.loader {
	display:block;
	float:left;
	width:24px;
	height:24px;
	background-repeat:no-repeat;
	background-color:transparent;
	margin:3px 0 0 5px;
}

/*  Emoticons  */
.emoticon {
	display:inline-block;
	text-indent:-9999em;
	height:16px;
	width:16px;
	vertical-align:middle;
	background-position:0 0;
	background-repeat:no-repeat;
}

/*  File Extensions  */
.extension {
	padding-left:20px;
	background-position:0 1px;
	background-repeat:no-repeat;
}

/*  Stats Summary */
.stats-summary {
	margin:10px 0;
	padding:0;
}
.stats-summary li {
	list-style:none;
	display:block;
	padding:5px;
	overflow:hidden;
	margin-bottom:10px;
	border:1px solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	min-height:32px;
	background-image:none;
	line-height:100%;
}
.stats-summary p, .stats-summary .stats-count { float:left; }
.stats-summary .stats-view {
	float:right;
	margin:2px 2px 0 0;
	padding:5px 15px;
	height:15px;
}
.stats-summary .stats-count {
	display:block;
	min-width:60px;
	text-align:right;
	font-size:197%;
	padding:10px 15px 0 0;
}
.stats-summary p { margin:5px 0 0; }

/*  Event Logs  */
.logs {
	margin:0;
	padding:0;
}
.logs li {
	background-position:10px 8px;
	background-repeat:no-repeat;
	background-image:url('../img/icons/icon_event.png');
	list-style:none;
	display:block;
	padding:10px 10px 10px 35px;
	overflow:hidden;
	margin-bottom:10px;
	border:1px solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	line-height:100%;
}
.logs li h4 {
	text-shadow:none;
	font-size:100%;
}
.logs li.event { background-image:url('../img/icons/icon_event_log.png'); }
.logs li.bomb { background-image:url('../img/icons/icon_event_bomb.png'); }
.logs li .logs-timestamp {
	float:right;
	font-size:93%;
}
.logs li .logs-event {
	text-decoration:none;
	font-size:116%;
}
.logs li .logs-meta a { text-decoration:none; }

/*  Contacts  */
.contacts {
	margin:0;
	padding:0;
	display:block;
	padding:10px;
	overflow:hidden;
	margin-bottom:10px;
	border:1px solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.contacts li {
	background:none;
	list-style:none;
	display:block;
	overflow:hidden;
	margin-bottom:10px;
	padding:0 0 10px;
	border-bottom:1px solid;
	line-height:100%;
}
.contacts li:last-child {
	border:none;
	margin:0;
	padding:0;
}
.contacts li img {
	width:48px;
	height:48px;
	padding:3px;
	margin-right:15px;
	border:1px solid;
	float:left;
}
.contacts li a.contacts-user {
	margin:2px 0;
	display:block;
	font-size:108%;
	text-decoration:none;
}
.contacts li em { font-size:93%; }
.contacts li ul {
	margin:8px 0 0;
	list-style:none;
	overflow:hidden;
}
.contacts li ul li {
	float:left;
	margin:0 5px 0 0;
	padding:0;
	border:none;
}
.contacts li ul li:last-child { margin-right:0; }
.contacts li .button-link { font-size:80%; }

/*  Tickets  */
.tickets, .tickets ul, .tickets ul ul {
	overflow:hidden;
	margin:0;
	padding:0;
}
.tickets li {
	display:block;
	list-style:none;
	background:none;
	padding:0;
	margin:0;
	height:100%;
}
.tickets li li { float:left; }
.tickets .ticket-header {
	width:100%;
	padding-bottom:10px;
	border-bottom:1px solid;
}
.tickets .ticket-header li, .tickets .ticket-data li {
	text-align:center;
	padding:0;
	width:15%;
}
.ie7 .tickets li.ticket-header-age, .ie7 .tickets li.ticket-data-age { width:14% !important; }
.ie7 .tickets li.ticket-data { position:relative; top:-4px; }
.tickets .ticket-header li { font-weight:bold; }
.tickets .ticket-header .ticket-header-activity, .tickets .ticket-data .ticket-data-activity { width:40%; }
.tickets .ticket-data {
	padding:5px 0;
	margin:0;
	border-bottom:1px solid;
	min-height:45px;
	overflow:hidden;
}
.tickets .ticket-data .ticket-data-activity { text-align:left; }
.tickets .ticket-data .ticket-data-activity p { margin:0; }
.tickets .ticket-data .ticket-data-user strong { display:block; }
.tickets .ticket-data .ticket-data-ticket, .tickets .ticket-data .ticket-data-priority, .tickets .ticket-data .ticket-data-age { padding-top:13px; }
.tickets .ticket-data .ticket-details {
	margin:5px 15px;
	border-top:1px dotted;
}
.tickets .ticket-data .ticket-details dl {
	overflow:hidden;
	padding:9px;
	border:1px solid;
	margin-bottom:10px;
}
.tickets .ticket-data .ticket-details dd, .tickets .ticket-data .ticket-details dt {
	float:left;
	width:13%;
	margin-bottom:5px;
}
.tickets .ticket-data .ticket-details dd { margin-right:2%; }
.tickets .ticket-data .ticket-details dd:nth-child(3n+3) { margin-right:0; }
.tickets .ticket-data .ticket-details dt { width:19%; }
.tickets .ticket-data .ticket-details dt.clear { clear:left; }
.tickets .ticket-data .ticket-details h4 {
	text-shadow:none;
	margin:15px 0;
}
.tickets .ticket-data .ticket-details h5 {
	text-shadow:none;
	text-transform:uppercase;
}
.tickets .ticket-data .ticket-details .ticket-details-actions {
	float:right;
	margin:0;
	padding:10px 0;
}
.tickets .ticket-data .ticket-details .ticket-details-actions li {
	width:auto;
	margin-left:5px;
}
.tickets .tag { line-height:120%; }

/*  Wizard  */
.wizard-steps {
	margin:0 0 25px;
	text-align:center;
	height:35px;
	border-bottom:3px solid;
	
}
.wizard-steps li {
	font-size:116%;
	height:100%;
	display:inline-block;
	padding:0 15px;
	
}
.ie7 .wizard-steps li {
	display:block;
	float:left;
}
.wizard-steps li a {
	display:block;
	text-decoration:none;
	position:relative;
	padding-bottom:25px;
	background-repeat:no-repeat;
	background-position:center 27px;
}
.wizard-steps li a.current, .wizard-steps li a.done { background-position:center -92px; }


/*  Modal  */
.modal { display:none; }
.nyroModalDom h2 { font-size:167%; }
.nyroModalDom h2, .nyroModalDom h3, .nyroModalDom h4, .nyroModalDom h5 { margin-bottom:.8em; }
.nyroModalDom h3 { font-size:153.9%; }
.nyroModalDom h4 { font-size:131%; }
.nyroModalDom h5 {
	font-size:108%;
	text-transform:uppercase;
}
.nyroModalDom p {
	font-size:100%;
	line-height:160%;
	margin-bottom:0.67em;
}
.nyroModalDom p:last-child { margin-bottom:0; }

/*  Forms  */
form {
	margin-top:25px;
	padding-bottom:10px;
}
form.table-form { margin-top:0; }
button, input, select, textarea { margin:0; }
textarea { overflow:auto; }
fieldset {
	-moz-border-radius:3px;
	border-radius:3px;
	padding:25px 25px 0;
	margin-bottom:25px;
	border:1px solid;
}
legend {
	font-size:116%;
	padding:0 1em;
}
.ie6 legend, .ie7 legend { margin-left:-7px; }
.ie8 legend, .ie7 legend { margin-bottom:30px; }
.ie8 legend { top:-25px; }
.ie7 legend { top:-35px; }
form dt {
	width:150px;
	text-align:right;
}
form dd {
	position:relative;
	top:-24px;
	left:165px;
}
dd p {
	font-size:77%;
	position:relative;
	top:2px;
}
input, textarea, select {
	border:1px solid;
	-moz-border-radius:1px;
	border-radius:1px;
}
input.small, textarea.small { width:25%; }
input.medium, textarea.medium { width:50%; }
input.large, textarea.large { width:75%; }
input.full, textarea.full { width:97%; }
input[type=text], input[type=password], textarea, select { padding:7px 6px 5px; }
input[type="radio"] { vertical-align:text-bottom; }
input[type="checkbox"] { vertical-align:bottom; }
input[type="checkbox"], input[type="radio"] {
	background:none;
	border:none;
}
.ie7 input[type="checkbox"] { vertical-align:baseline; }
.ie6 input { vertical-align:text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor:pointer; }
label { font-weight:bold; }
select { width:auto; }
.checkbox, .radio {
	width:200px;
	position:relative;
	left:185px;
	text-align:left;
}
.checkbox label, .radio label { font-weight:normal; }
.checkbox { top:-5px; }
.radio { top:-3px; }
form dd.text {
	top:-18px;
	color:#666;
	width:490px;
}
form dd.text p {
	top:-1px;
	font-size:100%;
	color:#666;
}

button {
	width:auto;
	overflow:visible;
}
form span.valid-side-note, span.invalid-side-note {
	margin-left:10px;
	padding:0 0 0 25px;
	background-repeat:no-repeat;
	background-position:left center;
}
form span.valid-side-note { background-image:url(../img/icons/icon_success.png); }
form span.invalid-side-note { background-image:url(../img/icons/icon_error.png); }
.ie7 input[type=checkbox], .ie8 input[type=checkbox], .ie9 input[type=checkbox],
.ie7 input[type=radio], .ie8 input[type=radio], .ie9 input[type=radio] {
	border:none;
	box-shadow:none;
}
.ie7 .checkbox., .ie8 .checkbox.], .ie9 .checkbox { top:-7px; }
.ie7 .radio, .ie8 .radio, .ie9 .radio { top:-5px; }
.ie7 td select {
	position:relative;
	top:-3px;
	left:-15px;
}
input:disabled, input.disabled {
	box-shadow:none;
	cursor:not-allowed;
}
input.datepicker {
	background:url(../img/icons/icon_calendar.png) no-repeat 6px 6px;
	padding-left:30px;
	cursor:pointer;
}
.ie9 input.datepicker { background-position:6px 5px; }

/*  jQuery Datepicker  */
.jq-datepicker {
	border:1px solid;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.jq-datepicker .datepick-nav {
	height:20px;
	padding-top:5px;
}
.jq-datepicker .datepick-ctrl { padding:5px 0 3px; }
.jq-datepicker .datepick-nav, .jq-datepicker .datepick-ctrl, .jq-datepicker .datepick-month,
.jq-datepicker .datepick-month-header, .jq-datepicker .datepick-month-header select, .jq-datepicker .datepick-month-header input,
.jq-datepicker .datepick-cmd:hover, .jq-datepicker .datepick-ctrl .datepick-cmd:hover, .jq-datepicker .datepick-month th,
.jq-datepicker .datepick-month th a { background:none; }
.jq-datepicker .datepick-month-header, .jq-datepicker .datepick-month-header select, .jq-datepicker .datepick-month-header input { height:auto; }
.jq-datepicker .datepick-month-header select {
	border:1px solid;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}
.jq-datepicker .datepick-month table {
	margin-top:5px;
	border-top:1px solid;
}
.jq-datepicker .datepick-month table td { width:30px; }
.jq-datepicker .datepick-month a, .jq-datepicker .datepick-month span { padding:11px 0; }
.jq-datepicker .datepick-month th, .jq-datepicker .datepick-month th a {
	border-top:none;
}

/*  HTML Calnedar  */
.htmlcalendar {
	width:100%;
	border-collapse:collapse;
	border:1px solid;
	table-layout:fixed;
}
.htmlcalendar tbody tr {
	background:none;
	min-height:110px;
}
.htmlcalendar tbody th, .htmlcalendar tbody td {
	border:1px solid;
	padding:0;
	margin:0;
}
.htmlcalendar tbody td {
	min-width:110px;
	width:15%;
}
.htmlcalendar .week {
	width:56px;
	padding:0;
	font-weight:normal;
	font-size:131%;
	text-align:right;
}
.htmlcalendar .week span, .htmlcalendar .week sup { padding-right:8px; }
.htmlcalendar .day > div { min-height:110px; }
.htmlcalendar .calendar-entry { 
	padding:8px;
	text-align:right;
	font-size:131%;
}
.htmlcalendar .week span, .htmlcalendar .calendar-entry span {
	display:block;
	font-weight:bold;
	margin-bottom:0;
}
.htmlcalendar .week span { margin-bottom:5px; }
.htmlcalendar .calendar-event { padding:0 5px 5px; }
.htmlcalendar .calendar-event .event {
	display:block;
	padding:3px 6px;
	margin-bottom:5px;
	vertical-align:middle;
	text-align:center;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.ie7 .htmlcalendar .calendar-event .event { padding:3px 5px; }
.htmlcalendar .calendar-event .event a {
	display:block;
	text-decoration:none;
}
.htmlcalendar .calendar-event .event a:hover { text-decoration:none; }

/*  HTML Calendar Actions  */
.htmlcalendar-actions {
	margin:0 0 10px;
	padding:0;
	overflow:hidden;
}
.htmlcalendar-actions li {
	background:none;
	list-style:none;
	padding:12px 0 0;
	margin:0;
	width:25%;
	float:left;
	display:block;
	vertical-align:middle;
}
.htmlcalendar-actions li.current-month {
	width:49%;
	text-align:center;
}
.htmlcalendar-actions li.current-month h4 {
	font-size:156%;
	text-shadow:none;
	margin:0;
}
.htmlcalendar-actions li.current-day { font-size:118%; }
.htmlcalendar-actions li.actions { padding:0; }
.htmlcalendar-actions li.actions ul {
	float:right;
	margin:0;
	padding:0;
}
.htmlcalendar-actions li.actions li {
	width:auto;
	padding:0;
	margin-right:5px;
}
.htmlcalendar-actions li.actions li:last-child { margin-right:0; }
.htmlcalendar-actions li.actions a.button { padding:6px 15px; }

/*  Tables  */
table {
	width:100%;
	font-size:93%;
	border-top:1px solid;
	border-bottom:1px solid;
}
tbody {
	border-top:1px solid;
	border-bottom:1px solid;
}
th, td {
	padding:5px 0;
	height:36px;
	text-align:center;
	border-bottom:1px solid;
	vertical-align:middle;
}
th { padding:10px 0; }
th { font-size:116%; }
table input[type="checkbox"] {
	margin:0 6px;
	position:static;
}

table .pagination {
	float:right;
	margin:5px 0;
}
table .pagination li {
	float:left;
	list-style:none;
	background:none;
	padding:0;
	margin-right:5px;
}
table .pagination li.hellip { padding-top:2px; }
table .pagination li:last-child { margin-right:0; }

table .actions {
	margin:0 5px 0;
	padding:0;
}
table .actions li {
	background:none;
	list-style:none;
	display:inline-block;
	margin-right:5px;
	padding:0;
}
.ie7 table .actions li {
	display:block;
	float:left;
}
table .actions li a {
	display:block;
	height:16px;
	width:16px;
	text-indent:-9999em;
}
table .actions li:last-child { margin-right:0; }
table .actions .view { background:url('../img/icons/icon_table_view.png') no-repeat 0 0; }
table .actions .edit { background:url('../img/icons/icon_table_edit.png') no-repeat 0 0; }
table .actions .delete { background:url('../img/icons/icon_table_delete.png') no-repeat 0 0; }

/*  Table Mini Actions  */
.toggle-table-switch {
	display:block;
	height:16px;
	width:16px;
	padding:4px;
	text-indent:-999em;
	background-position:center;
	background-repeat:no-repeat;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid;
	margin:0 auto;
}
.table-switch {
	position:absolute;
	margin:2px 0 0;
	padding:2px 10px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid;
	z-index:1;
	margin-left:6px;
}
.ie7 .table-switch { margin-left:-13px; }
.ie8 .table-switch, .ie9 .table-switch { margin-left:9px; }
.table-switch li {
	background:none;
	list-style:none;
	padding:0;
	margin:0;
	text-align:left;
	border-bottom:1px solid;
}
.table-switch li:last-child { border:none; }
.table-switch li a {
	display:block;
	padding:5px 0;
	text-decoration:none;
}
.no-js .table-switch, .no-js .toggle-table-switch { display:none; }



/*  Login Page  */
.login { background-image:none; }
.login section[role=main] {
	margin:100px auto 0;
	min-width:380px;
	width:380px;
	background:none;
}
.login section[role=main] > a {
	background:url('../img/sample_logo.png') no-repeat;
	width:148px;
	height:31px;
	text-indent:-9999em;
	display:block;
}
.login #login-box {
	margin-top:25px;
	border-radius:3px;
}
#login-box .article-container {
	border:1px solid;
	padding:25px 25px 15px;
	border-radius:3px;
}
.login form {
	overflow:hidden;
	margin-top:15px;
}
.login form fieldset { margin-bottom:15px; }
.login form dt { width:50px; }
.login form dt.checkbox {
	left:85px;
	width:200px;
}
.login form dd { left:65px; }
.login-links {
	margin:0;
	float:right;
}

/*  Login Page Footer Links  */
.login-links a { text-decoration:none; }
.login-links li {
	float:left;
	list-style:none;
	background:none;
	padding:2px 10px;
	border-left:1px solid;
	border-right:1px solid;
}
.login-links li:first-child { border-left:none; }
.login-links li:last-child {
	padding-right:0;
	border-right:none;
}

/*  Error Pages  */
.error-page { background-image:none; }
.error-page section[role=main] {
	margin:80px auto 0;
	min-width:600px;
	width:600px;
	background:none;
}
.error-page p {
	margin-bottom:10px;
}
.error-page p.description {
	text-align:center;
	font-size:156%;
	margin-bottom:25px;
	font-weight:bold;
}
.error-page a.button { float:right; }
.error-page strong {
	display:block;
	text-align:center;
	font-size:1000%;
}
