html {
  overflow-y: visible;
}

body {
	background-color: #fffeff;
	color: #666;
	text-shadow: 0 1px 1px #CCC;
}

#pagewrapper {
	background-color: #fffeff;
}

#usercolumn {
	background:url('/assets/images/bg_aside_main.png') repeat-y 263px 0;
	background-color: #e6e6e6;
	width: 271px;
  position: fixed;
  top: 0;
  left: 0;
  height: 1200px;
}


#messagewrapper {
	float: left;
	width: 100%;
}

#messagecolumn {
	margin-left: 271px;
}

#messages {
  overflow-x: hidden;
	color: #444;
	text-shadow: 0 1px 1px #AAA;
  font-size: 16px;
}


#input input {
	width: 100%;
  padding: 3px 0;
}

.userinfo {
	height: 55px;
	background-image: url(userinfo.png);
}

.header {
	background-color: #404040;
	color: #cfcfcf;
}

.innertube {
	padding: 5px;
}

.clearfix {
	clear: both;
}

.message .user {
  float: left;
  width: 80px;
  text-align: right;
}

.message .text {
  text-align: left;
  margin-left: 95px;
}

.message .timestamp {
    text-align: right;
    width: 50px;
    float: right;
}

.message {
  clear: both;
  font-size: 14px;
  padding-top: 3px;
}

.main-nav h2 {
  padding-bottom: 5px;
  text-align: center;
}

.main-nav ul li a.active {
  background-image: url('/images/active.png');
}

.main-nav ul li a.away {
  background-image: url('/images/away.png');
}

.main-nav ul li a.offline {
  background-image: url('/images/offline.png');
}
