/* light tooltip */

/*...........................................................*/

.light-tip {
	position: relative;
	max-width: 300px
}

.light-tip td.tl,.light-tip td.t,.light-tip td.tr,.light-tip td.bl,.light-tip td.b,.light-tip td.br {
	height: 9px !important
}

.light-tip td.tl,.light-tip td.tr,.light-tip td.bl,.light-tip td.br,.light-tip td.l,.light-tip td.r {
	width: 9px !important
}

.light-tip td.tl,.light-tip td.t,.light-tip td.tr {
	padding: 0 !important;
	margin: 0 !important
}

.light-tip td.l q,.light-tip td.r q,.light-tip td.tr q,.light-tip td.tl q,.light-tip td.t q {
	width: 9px !important;
	display: block;
	height: 1px;
}

.light-tip td.tl {
	background: url('/_images/tooltip/lp-tl.png') no-repeat
}

.light-tip td.tr {
	background: url('/_images/tooltip/lp-tr.png') no-repeat
}

.light-tip td.t {
	width: auto;
	background: url('/_images/tooltip/lp-t.png') repeat-x
}

.light-tip td.l {
	background: url('/_images/tooltip/lp-l.png') repeat-y
}

.light-tip td.r {
	background: url('/_images/tooltip/lp-r.png') repeat-y
}

.light-tip td.bg {
	background: url('/_images/tooltip/lp-bg.png') repeat
}

.light-tip td.bl {
	background: url('/_images/tooltip/lp-bl.png') no-repeat
}

.light-tip td.br {
	background: url('/_images/tooltip/lp-br.png') no-repeat
}

.light-tip td.b {
	width: auto;
	background: url('/_images/tooltip/lp-b.png') repeat-x
}

.light-tip div {
	font: 11px/16px Verdana,"Trebuchet MS",Arial,Helvetica,sans-serif;
	color: black;
	margin: 0;
	padding: 1px 2px
}

.wowtip {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	color: white;
	display: block;
  max-width: 400px;
}

.wowtip>table{
	border-collapse: collapse;
}

.wowtip div {
	padding: 1px 3px
}

.wowtip td.tl,.wowtip td.tm,.wowtip td.tr,.wowtip td.ml,.wowtip td.mm,.wowtip td.mr,.wowtip td.bl,.wowtip td.bm,.wowtip td.br {
	height: 13px;
	background-image: url('/images/tooltip/tip.png')
}

.wowtip td.tl em,.wowtip td.tr em,.wowtip td.bl em,.wowtip td.br {
	height: 13px;
	width: 13px;
	display: block
}

.wowtip td.tm {
	background-position: -13px 0
}

.wowtip td.tr {
	background-position: 100% 0
}

.wowtip td.ml {
	background-position: 0 -13px
}

.wowtip td.mm {
	background-position: -13px -13px
}

.wowtip td.mr {
	background-position: 100% -13px
}

.wowtip td.bl {
	background-position: 0 100%
}

.wowtip td.bm {
	background-position: -13px 100%
}

.wowtip td.br {
	background-position: 100% 100%
}


/* item tooltip formatting */

/*...........................................................*/

.myItemName {
	font-size: 13px
}

.myGold {
	color: #7e7046
}

.myOrange {
	color: #ff8000
}

.myPurple {
	color: #A335EE
}

.myBlue {
	color: #0070DD
}

.myGray {
	color: #c9c9c9
}

.myGreen {
	color: #00FF00
}

.myYellow {
	color: #ffd517
}

.myRed {
	color: #d80000
}

.myWhite {
	color: #ffffff
}

.myTable {
	color: #FFFFFF;
	font-size: 9pt;
	font-family: Arial,Helvetica,sans-serif
}

.myRight {
	color: #FFFFFF;
	font-size: 9pt;
	position: absolute;
	right: 0px
}

a.rarity0 {
	font-size: 10pt;
	color: #5B5B5B !important
}

/*grey*/

a.rarity0:hover {
	color: #919191 !important
}

/*grey*/

a.rarity1 {
	font-size: 10pt;
	color: #ffffff !important
}

/*white*/

a.rarity1:hover {
	color: #ffffff !important
}

/*white*/

a.rarity2 {
	font-size: 10pt;
	color: #007200 !important
}

/*green*/

a.rarity2:hover {
	color: #00A900 !important
}

/*green*/

a.rarity3 {
	font-size: 10pt;
	color: #004385 !important
}

/*blue*/

a.rarity3:hover {
	color: #0062C3 !important
}

/*blue*/

a.rarity4 {
	font-size: 10pt;
	color: #5D1F88 !important
}

/*purple*/

a.rarity4:hover {
	color: #B343FF !important
}

/*purple*/

a.rarity5 {
	font-size: 10pt;
	color: #C24E00 !important
}

/*orange*/

a.rarity5:hover {
	color: #FA9900 !important
}

/*orange*/

a.rarity6 {
	font-size: 10pt;
	color: #b62121 !important
}

/*gold/red*/

a.rarity6:hover {
	color: #b62121 !important
}

/*gold/red*/

a.rarity6:hover {
	font-size: 10pt;
	color: #b62121 !important
}

/*gold/red*/

a.rarity7 {
	font-size: 10pt;
	color: #7e7046 !important
}

/*gold*/

a.rarity7:hover {
	font-size: 10pt;
	color: #7e7046 !important
}

/*gold*/

.ps a:hover {
	text-decoration: none !important
}

.ps a.rarity0 {
	font-size: 12px;
	color: #5B5B5B !important
}

/*grey*/

.ps a.rarity0:hover {
	color: #919191 !important
}

/*grey*/

.ps a.rarity1 {
	font-size: 12px;
	color: #ffffff !important
}

/*white*/

.ps tr:hover a.rarity1,.ps a.rarity1:hover {
	color: black !important
}

/*black*/

.ps a.rarity2 {
	font-size: 12px;
	color: #007200 !important
}

/*green*/

.ps a.rarity2:hover {
	color: #00A900 !important
}

/*green*/

.ps a.rarity3 {
	font-size: 12px;
	color: #004385 !important
}

/*blue*/

.ps a.rarity3:hover {
	color: #0062C3 !important
}

/*blue*/

.ps a.rarity4 {
	font-size: 12px;
	color: #5D1F88 !important
}

/*purple*/

.ps a.rarity4:hover {
	color: #B343FF !important
}

/*purple*/

.ps a.rarity5 {
	font-size: 12px;
	color: #C24E00 !important
}

/*orange*/

.ps a.rarity5:hover {
	color: #FA9900 !important
}

/*orange*/

.ps a.rarity6 {
	font-size: 12px;
	color: #b62121 !important
}

/*gold*/

.ps a.rarity6:hover {
	color: #b62121 !important
}

/*gold*/

.ps a.rarity6:hover {
	font-size: 12px;
	color: #b62121 !important
}

/*gold*/

.ps a.rarity7 {
	font-size: 12px;
	color: #7e7046 !important
}

/*orange*/

.ps a.rarity7:hover {
	color: #7e7046 !important
}

/*orange*/

.ps tr.data2 a.rarity0 {
	color: white !important
}

/*grey*/

.ps tr.data2 a.rarity0:hover {
	color: white !important
}

/*grey*/

.ps tr.data2 a.rarity1 {
	color: white !important
}

/*white*/

.ps tr.data2 a.rarity1:hover {
	color: white !important
}

/*white*/

.ps tr.data2 a.rarity2 {
	color: white !important
}

/*green*/

.ps tr.data2 a.rarity2:hover {
	color: white !important
}

/*green*/

.ps tr.data2 a.rarity3 {
	color: white !important
}

/*blue*/

.ps tr.data2 a.rarity3:hover {
	color: white !important
}

/*blue*/

.ps tr.data2 a.rarity4 {
	color: white !important
}

/*purple*/

.ps tr.data2 a.rarity4:hover {
	color: white !important
}

/*purple*/

.ps tr.data2 a.rarity5 {
	color: white !important
}

/*orange*/

.ps tr.data2 a.rarity5:hover {
	color: white !important
}

/*orange*/

.ps tr.data2 a.rarity6 {
	color: white !important
}

/*gold*/

.ps tr.data2 a.rarity6:hover {
	color: white !important
}

/*gold*/

.ps tr.data2 a.rarity7 {
	color: white !important
}

/*gold*/

.ps tr.data2 a.rarity7:hover {
	color: white !important
}

/*gold*/

.ps .dropShadow a.rarity1 {
	color: black !important
}

.socketImg {
	width: 14px;
	height: 14px;
	vertical-align: -20%;
	margin: 0 7px 0 0;
	padding: 0
}

.tooltipRight {
	position: relative;
	float: right;
	clear: right;
	margin: 0 0 0 4px
}

.bonusGreen {
	color: #00FF00
}

.setNameYellow {
	color: #ffd517;
	font-size: 11px
}

.setItemIndent {
	display: inline;
}

.setItemIndent span {
	margin-left: 9px;
}

.setItemYellow {
	color: #f8ffa8
}

.setItemGray {
	color: #787880
}

.myBlueGem {
	color: #666666;
	display: block;
	background: url(blue-mini.gif) no-repeat 3px 4px;
	padding-left: 19px
}

.myMetaGem {
	color: #666666;
	display: block;
	background: url(meta-mini.gif) no-repeat 3px 4px;
	padding-left: 19px
}

.myOrangeGem {
	color: #666666;
	display: block;
	background: url(orange-mini.gif) no-repeat 3px 4px;
	padding-left: 19px
}

.myPurpleGem {
	color: #666666;
	display: block;
	background: url(purple-mini.gif) no-repeat 3px 4px;
	padding-left: 19px
}

.myRedGem {
	color: #666666;
	display: block;
	background: url(red-mini.gif) no-repeat 3px 4px;
	padding-left: 19px
}

.myYellowGem {
	color: #666666;
	display: block;
	background: url(yellow-mini.gif) no-repeat 3px 4px;
	padding-left: 19px
}
