%h1 Edit user settings

= error_messages_for :user
- form_for @user, :url => user_update_path do |f|
  %p
    = f.label :login
    = @user.login
  %p
    = f.label :email
    = @user.email
  %p
    = f.label :timezone
    = f.select("timezone", time_zone_options_for_select(@user.timezone, ActiveSupport::TimeZone.us_zones))
  %p
    = submit_tag