%div.wowtip{:id => @item_id, :style => "display: none;"}
  %table
    %tr
      %td.tl
        %em
      %td.tm
      %td.tr
        %em
    %tr
      %td.ml
      %td.mm
        = @body_string
      %td.mr
    %tr
      %td.bl
        %em
      %td.bm
      %td.br
        %em
