<div class='toolbox divider nobr'>
  <select id='themeControl'>
    <option id='chooseTheme' selected='selected' value=''>Choose Theme:</option>
    <option value='default'>Blue</option>
    <option value='charcoal'>Charcoal</option>
  </select>
</div>
