<div class="formRow">
  <label for="login">Login:</label>
  <input type="text" class="input" name="login" id="login-name"></input>
</div>
<div class="formRow">
  <label for="password">Password:</label>
  <input type="password" class="input" name="password" id="login-pass"></input>
</div>
<div class="buttonRow">
  <input type="button" class="button" value="Login" id="loginButton"></input>
</div>